Package: libqtshadowsocks-dev
Source: libqtshadowsocks
Version: 2.1.0-2
Architecture: arm64
Maintainer: Boyuan Yang <byang@debian.org>
Installed-Size: 68
Depends: libqtshadowsocks2 (= 2.1.0-2)
Section: libdevel
Priority: optional
Homepage: https://github.com/shadowsocks/libQtShadowsocks
Description: Development files of libQtShadowsocks
 libQtShadowsocks provides a lightweight and fast implementation of
 shadowsocks protocol. This library is written in C++ using Qt.
 .
 This package provides the development files.
