Package: shadowsocks-libqtshadowsocks
Source: libqtshadowsocks
Version: 2.1.0-2
Architecture: arm64
Maintainer: Boyuan Yang <byang@debian.org>
Installed-Size: 66
Depends: libqtshadowsocks2 (= 2.1.0-2), libc6 (>= 2.17), libgcc1 (>= 1:3.0), libqt5core5a (>= 5.6.0~beta), libqt5network5 (>= 5.0.2), libstdc++6 (>= 5.2)
Section: net
Priority: optional
Homepage: https://github.com/shadowsocks/libQtShadowsocks
Description: Another CLI shadowsocks client using libQtShadowsocks
 libQtShadowsocks provides a lightweight and fast implementation of
 shadowsocks protocol. This library is written in C++ using Qt.
 .
 This package provides a simple cli shadowsocks client.
